<div class="sidebar-container">
  <div class="sidebar-logo-header">
    <a routerLink="sidebar" class="sidebar-logo">
      <span><i class="fa-solid fa-rocket"></i></span>
      <p>Admin RStore</p>
    </a>
  </div>

  <div class="sidebar-main">
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul> <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul> <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul> <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
    <h1 class="sidebar-main-title">Home</h1>
    <ul class="sidebar-main-list">
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-brands fa-squarespace"></i>
          <span class="sidebar-main-text">Dashboard 1</span>
        </a>
      </li>
      <li class="sidebar-main-item">
        <a routerLink="sidebar" class="sidebar-main-link">
            <i class="fa-solid fa-cubes"></i>
          <span class="sidebar-main-text">Dashboard 2</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-footer">
    <div class="sidebar-footer-container">
      <img
        src="../../../assets/imgs/profile.jpg"
        class="sidebar-footer-img"
        alt=""
      />
      <div class="sidebar-footer-text">
        <p class="sidebar-footer-name">Sebas</p>
        <p class="sidebar-footer-role">Admin</p>
      </div>
      <a href="#" class="sidebar-footer-button">
        <i class="fa-solid fa-power-off"></i>
      </a>
    </div>
  </div>
</div>
